<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <conversionRule conversionWord="env" converterClass="pl.EnvConverter"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS}][%-5level][%14.14logger{14}][%env] %msg%n</pattern>
        </encoder>
    </appender>

    <!--<appender name="stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">-->
    <appender name="stash" class="net.logstash.logback.appender.LogstashSocketAppender">
        <!--<appender name="stash" class="ch.qos.logback.core.ConsoleAppender">-->
        <host>localhost</host>
        <!--<destination>localhost</destination>-->
        <!--<port>514</port>-->
        <port>5000</port>
        <customFields>{"app":"logback-test-1.0.4"}</customFields>
        <!--<encoder class="pl.LogstashEncoderJava">-->
        <!--<encoder class="net.logstash.logback.encoder.LogstashEncoder">-->
        <!--&lt;!&ndash;<customFields>{"app":"logback-test-1.0.3"}</customFields>&ndash;&gt;-->
        <!--<includeCallerInfo>true</includeCallerInfo>-->
        <!--<enableContextMap>true</enableContextMap>-->
        <!--&lt;!&ndash;<includeMdcKeyName>HOSTNAME</includeMdcKeyName>&ndash;&gt;-->
        <!--<includeMdcKeyName>included</includeMdcKeyName>-->
        <!--</encoder>-->

        <!--<encoder class="net.logstash.logback.encoder.LogstashEncoder">-->
        <!--<customFields>{"appname":"damnGodWebservic","roles":["customerorder", "auth"], "buildinfo": { "version" : "Version 0.1.0-SNAPSHOT", "lastcommit" : "75473700d5befa953c45f630c6d9105413c16fe1"} }</customFields>-->
        <!--<fieldNames class="net.logstash.logback.fieldnames.ShortenedFieldNames">-->
        <!--<version>[ignore]</version>-->
        <!--</fieldNames>-->
        <!--<includeMdc>true</includeMdc>-->
        <!--<includeMdcKeyName>HOSTNAME</includeMdcKeyName>-->
        <provider class="net.logstash.logback.composite.loggingevent.LoggingEventPatternJsonProvider">
            <pattern>{"patternName":"patternValue","relativeTime":"#asLong{%relative}"}</pattern>
        </provider>
        <provider class="net.logstash.logback.composite.loggingevent.LoggingEventPatternJsonProvider">
            <pattern>{"env":"%env"}</pattern>
        </provider>
        <!--</encoder>-->
    </appender>

    <logger name="akka" level="TRACE"/>
    <logger name="pl" level="DEBUG"/>

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="stash"/>
    </root>
</configuration>
