<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS}][%7r][%-5level][%logger{5}] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="LOCAL" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%7r][%d{HH:mm:ss.SSS}][%thread] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="akka" level="WARN" additivity="false"/>
    <logger name="pl" level="DEBUG" additivity="false"/>
    <logger name="println" level="DEBUG" additivity="false">
        <appender-ref ref="LOCAL"/>
    </logger>

    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
